# -*- mode: ruby -*-
# vi: set ft=ruby :

PUBLIC_KEY = "{{ public_key_path }}"
{% for cluster in lookup('dict', clusters, wantlist=True) %}

{{ cluster.key|upper }}_PREFIX = "{{ cluster.key }}"
{{ cluster.key|upper }}_CLUSTER_IPS = [ "{{ cluster.value|join('\", \"') }}" ]
{% endfor %}

Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/focal64"
  config.vm.provider "virtualbox" do |vb|
    vb.memory = "{{ default_memory }}"
    vb.customize ["modifyvm", :id, "--cableconnected1", "on"]
  end
{% for cluster in lookup('dict', clusters, wantlist=True) %}

  ###################
  ####  {{ cluster.key|upper }}  ####
  ###################
  cluster_ips = {{ cluster.key|upper }}_CLUSTER_IPS
  cluster_prefix = {{ cluster.key|upper }}_PREFIX
  cluster_ips.each_with_index do |node_ip, index|
    node_suffix = node_ip.split('.')[-1][-1]
    box_hostname = "#{cluster_prefix}-#{node_suffix}"
    config.vm.define box_hostname do |node|
      node.vm.hostname = box_hostname
      node.vm.network "private_network", ip: node_ip

      node.vm.provider "virtualbox" do |vb|
{% if cluster.key == "worker" and worker_memory is defined %}
        vb.memory = "{{ worker_memory }}"
{% endif %}
        vb.name = box_hostname
      end

      node.vm.provision "shell" do |s|
        ssh_pub_key = File.readlines(PUBLIC_KEY).first.strip
        s.inline = <<-SHELL
          echo #{ssh_pub_key} >> /home/vagrant/.ssh/authorized_keys
          echo #{ssh_pub_key} >> /root/.ssh/authorized_keys
        SHELL
      end
    end
  end
{% endfor %}
end
