# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

datacenter  = "dc1"
region      = "ap-southeast-1"
data_dir    = "/opt/nomad/data"
bind_addr   = "0.0.0.0"

advertise {
  http = "{{ ansible_enp0s8['ipv4']['address'] }}"
  rpc  = "{{ ansible_enp0s8['ipv4']['address'] }}"
  serf = "{{ ansible_enp0s8['ipv4']['address'] }}"
}

# Enable the client
client {
  enabled = true
  options {
    "driver.raw_exec.enable"    = "1"
    "docker.privileged.enabled" = "true"
  }
}

acl {
  enabled = true
}

consul {
  address             = "127.0.0.1:8500"
  auto_advertise      = true
  client_service_name = "{{ ansible_hostname }}"
  client_auto_join    = true
}

# https://developer.hashicorp.com/nomad/docs/drivers/docker#client-requirements

plugin "docker" {
  config {
    endpoint = "unix:///var/run/docker.sock"

# This auth is used to put custom registry authentication
#    auth {
#      config = "/etc/docker-auth.json"
#      helper = "ecr-login"
#    }

    extra_labels = ["job_name", "job_id", "task_group_name", "task_name", "namespace", "node_name", "node_id"]

    gc {
      image       = true
      image_delay = "3m"
      container   = true

      dangling_containers {
        enabled        = true
        dry_run        = false
        period         = "5m"
        creation_grace = "5m"
      }
    }

    volumes {
      enabled      = true
      selinuxlabel = "z"
    }

    allow_privileged = false
    allow_caps       = ["chown", "net_raw"]
  }
}
