server              = true
node_name           = "{{ ansible_hostname }}"
datacenter          = "dc1"
data_dir            = "/var/lib/consul"
bind_addr           = "0.0.0.0"
client_addr         = "0.0.0.0"
advertise_addr      = "{{ ansible_enp0s8['ipv4']['address'] }}"
bootstrap_expect    = {{ clusters['consul']|length }}
retry_join          = [ "{{ clusters['consul']|join("\", \"") }}" ]

ui_config {
    enabled = true
}

log_level           = "DEBUG"
enable_syslog       = true